<h3>Liste des Devis</h3>
<div class="tab">

    <div id="action" style="display: none">

    {% image '@AppBundle/Resources/public/img/trash.svg' %}
    <img src="{{ asset_url }}" alt="delete" class="trash" id="suppr"/>
{% endimage %}
    </div>
<table class="striped tab_devis">
    <thead>
    <tr>
        <th></th>
        <th>Titre</th>
        <th>Client</th>
        <th>Type</th>
        <th>Prix</th>
        <th>Date de création</th>
    </tr>
    </thead>
    <tbody>
    {% for key, devis in listdevis %}
    <tr class="devis_item" data-id="{{ devis.id }}">

        <td class="tdCheck">
            <input type="checkbox" id="{{ devis.id }}" data="{{ devis.id }}" class="checkBox"/>
            <label for="{{ devis.id }}"></label>
        </td>
            <td>{{ devis.titreprojet }}</td>
            <td>

                {% for key, client in listClient %}
                    {% if devis.idClient == client.id %}
                {{ client.nom }}
                {% endif %}
                {% endfor %}
            </td>
            <td>
            {% for key, item in devis.typepresta %}
                {{ item }}
            {% endfor %}
            </td>
        <td>{{ devis.prixTotal }}€</td>
            <td>{{ devis.datecreation|date('d/m/Y') }}</td>

    </tr>
    {% endfor%}

    </tbody>
</table>

    <ul class="pagination">
        <li id="Prev">
                {% image '@AppBundle/Resources/public/img/leftChevron.svg' %}
                <img src="{{ asset_url }}" alt="précédent" class="chevron"/>
                {% endimage %}</li>
            {% for key, p in listPage %}
                <li class="numPage {{ p }}">{{ p }}</li>
            {% endfor%}
        <li id="Next">
                {% image '@AppBundle/Resources/public/img/rightChevron.svg' %}
                <img src="{{ asset_url }}" alt="suivant" class="chevron"/>
                {% endimage %}</li>
    </ul>
    <i class="grey-info right">{{ maxResult }} résultat(s)</i>

    {% if is_granted('ROLE_REGIS') or is_granted('ROLE_TRESOR') %}

<div class="tab_modification">
    <a href="#" class="btn" id="CreateDevis">Créer un devis</a>

</div>

    {% endif %}
</div>


<script>

    $page = {{ page }};
    $maxresult = {{ maxResult }};
    $nbPage = {{ nbPage }};

$(".checkBox").on('change', function () {
    if($(".checkBox").is(':checked')) {
            $('#action').slideDown(400);
    }else{
        $('#action').slideUp(400);
    }
});

    $('#suppr').click(function () {

        swal({
                title: "Etes-vous sure ?",
                text: "Il sera impossible de le récuperer !",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#F44336",
                cancelButtonColor: "#43A047",
                confirmButtonText: "Oui, supprime le !",
                cancelButtonText: "En fait non!",
                closeOnConfirm: false,
                closeOnCancel: false
            },
            function(isConfirm){
                if (isConfirm) {
                    var values = new Array;
                    $('.checkBox').each(function () {
                        if($(this).is(':checked')) {
                            values.push($(this).attr('data'));
                        }
                    });
                    console.log(values);

                    $.ajax({
                        type: 'POST',
                        url: "{{ path('deleteDevis') }}",
                        data: { id : values },
                        statusCode: {

                            200: function (response) {
                                Materialize.toast(response, 2000);
                                swal("Supprimé!", "Le devis a été supprimé.", "success");
                            },

                            412: function (response) {
                                Materialize.toast(response, 2000);
                                swal("Erreur!", "Nous rencontrons un problème. Veuillez réssayer plus tard...", "error");
                            }
                        }

                    });

                } else {
                    swal("Annuler", "Le devis n'a pas été supprimé", "error");
                    return false;
                }
            });

    });

    if( $maxresult < 1 ){
        $('tbody').append("<tr id='noData'><td colspan='5' class='center'><p id='noDataText'>Aucun résultat</p></td></tr>");

        $('#noData').on('mouseenter', function () {
            $('#noDataText').html("<p>Créez un nouveau devis</p>");
        });
        $('#noData').on('mouseout', function () {
            $('#noDataText').html("<p id='noDataText'>Aucun résultat</p>");
        });
    }else if($maxresult < 10){
        $('.pagination').addClass('hidden');
    }

    $('.numPage').click(function () {

       $page = $(this).html();
       $max = 10 * $page;
       $min = 10 * $page - 10;

        $('#Content').load("{{ path('devis') }}",{

            min : $min,
            max : $max,
            page : $page
        });

    });

    $('.{{ page }}').addClass('active');
        $("#CreateDevis").click(function(){
       $("#Content").load("{{ path('newdevis') }}");
    });

    $(".devis_em").click(function () {

       $("#Content").load("{{ path('singleDevis') }}", {id: $(this).data("id")});
    });

    $('#Next').on('click', function () {

        $min = $('.devis_item').last().attr('data-id');

        $page = $page + 1;
        $('#Content').load("{{ path('devis') }}",{

            min : $min,
            max : $max,
            page : $page
        });
    });
        $('#Prev').on('click', function () {
            if(typeof $min !== "undefined") {

                $(this).removeClass('hidden');

                $min = $min - 10;
                $max = $max - 10;
                $page = $page - 1;
                $('#Content').load("{{ path('devis') }}",{

                    min : $min,
                    max : $max,
                    page : $page
                });
            }
        });
    function verifPage() {

            if ($page === $nbPage) {
                $("#Next").addClass('hidden');
            }else if( $page === 1){
                $("#Prev").addClass('hidden');

            }
    }
    verifPage();

</script>