<div class="row">
    <div class="col s8">
<h3>Liste des Devis</h3>
    </div>
<div class="col s4">
    <input id="searchbar" type="text" name="searchbar" placeholder="Rechercher...">
</div>
</div>
<div class="tab">

    <div id="action" style="display: none">

    {% image '@AppBundle/Resources/public/img/trash.svg' %}
    <img src="{{ asset_url }}" alt="delete" class="trash" id="suppr"/>
{% endimage %}
    </div>
<div id="table">

</div>

    </table>

    {% if is_granted('ROLE_REGIS') or is_granted('ROLE_TRESOR') %}

<div class="tab_modification">
    <a href="#" class="btn" id="CreateDevis">Créer un devis</a>

</div>

    {% endif %}
</div>


<script>
    $('#table').load("{{ path('TabDevis') }}");

    $('#suppr').click(function () {

        swal({
                title: "Êtes-vous sûr ?",
                text: "Il sera impossible de le récuperer !",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#F44336",
                cancelButtonColor: "#43A047",
                confirmButtonText: "Oui, supprime le !",
                cancelButtonText: "En fait non!",
                closeOnConfirm: false,
                closeOnCancel: false
            },
            function(isConfirm){
                if (isConfirm) {
                    var values = new Array;
                    $('.checkBox').each(function () {
                        if($(this).is(':checked')) {
                            values.push($(this).attr('data'));
                        }
                    });

                    $.ajax({
                        type: 'POST',
                        url: "{{ path('deleteDevis') }}",
                        data: { id : values },
                        statusCode: {

                            200: function (response) {
                                Materialize.toast(response, 2000);
                                swal("Supprimé!", "Le devis a été supprimé.", "success");
                                $('#action').slideUp(400);
                                $('#table').load('{{ path('TabDevis') }}');
                            },

                            412: function (response) {
                                Materialize.toast(response, 2000);
                                swal("Erreur!", "Nous rencontrons un problème. Veuillez réssayer plus tard...", "error");
                            }
                        }

                    });

                } else {
                    swal("Annuler", "Le devis n'a pas été supprimé", "error");
                    return false;
                }
            });

    });

    $('#searchbar').keyup(function () {

        $value = $(this).val();
        $page = 0;

        if($value.length > 0) {

            $('#table').load('{{ path('TabDevis') }}',{
               req : $value,
                page : $page
            });

        }else{

            $('#table').load('{{ path('TabDevis') }}');

        }
        verifPage();
    });

</script>